 <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
        <%- include("./../components/header.html",{
            title : "SMART AI SIGNAL",
            description : "Free copy trade service, Win rate 80-90%"
        }) %>
</header>


<main class="nk-pages">

    <section class="section bg-transparent over-up over-up-xl-s2 pdt-0 ov-v" style="padding-bottom:10px; z-index:9;">
        <div class="ui-mask-right ui-mask-s8"></div>
        <div class="container">
            <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="feature feature-center card bg-white  animated" data-animate="fadeInUp" data-delay="0.9">
                            
                            <div class="d-flex justify-content-between">
                                
                                <div class="">
                                    <a class="btn btn-info btn-sm" href="/trader?g=forex"><i class="fa fa-copy"></i> Forex</a>
                                    <a class="btn btn-primary  btn-sm"  href="/trader?g=stock"><i class="fa fa-copy"></i> Stock</a>
                                    <a class="btn btn-primary btn-sm"  href="/trader?g=crypto"><i class="fa fa-copy"></i> Crypto</a>

                                </div>
                                <div>
                                    <button class="btn btn-primary btn-sm"><i class="fa fa-copy"></i> Download Serial</button>
                                    <button class="btn btn-primary btn-sm"><i class="fa fa-copy"></i> Copy Tool</button>

                                </div>
                            </div>

                        </div>
                    </div><!-- .col -->
                    
                </div><!-- .row -->
        </div>
    </section>
    
    <section class="section pdt-0 ov-v" style="padding-bottom:10px;">
        <div class="container">
            <div class="nk-block nk-block-features-s3">
                
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                        <h4>Setup Service</h4>
                        <hr>
                        <form>
                          <div class="form-group">
                            <label for="exampleInputEmail1">MT4/MT5 ID</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">Enter mt4 or mt5 ID.</small>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Unlock Time</label>
                            <select  class="form-control">
                                <option value="1">1 Month</option>
                                <option value="2">2 Month</option>
                                <option value="3" selected>3 Month (Save Off 5%)</option>
                                <option value="4">4 Month</option>
                                <option value="5">5 Month</option>
                                <option value="6">6 Month (Save Off 10%)</option>
                                <option value="7">7 Month</option>
                                <option value="8">8 Month</option>
                                <option value="9">9 Month (Save Off 15%)</option>
                                <option value="10">10 Month</option>
                                <option value="11">11 Month</option>
                                <option value="12">1 Year (Save Off 20%)</option>
                                <option value="24">2 Year (Save Off 40%)</option>
                                <option value="36">3 Year (Save Off 60%)</option>
                                <option value="60">5 Year (Save Off 100%)</option>
                            </select>
                          </div>
                          
                          <button type="submit" class="btn btn-primary">Download CDKeys</button>
                        </form>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <h4>Download Tool</h4>
                            <hr>
                            <div>
                                <a href="submit" class="btn btn-primary">MT4</a><br>
                                <a href="submit" class="btn btn-primary">MT5</a><br>
                                <a href="submit" class="btn btn-primary">Video Setup</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>       
</main>
<footer class="nk-footer bg-theme-grad ov-h">
        <%- include("./../components/footer.html") %>
</footer>