 <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
        <%- include("./../components/header.html",{
            title : "DOWNLOAD TOOL",
            description : "Smart Software Copy Trade all exchange 0%",
            banner : "./banner_page.html",
            html : '<div class="cpn-action"><ul class="cpn-links animated" data-animate="fadeInUp" data-delay="1.45"><li><a class="link link-primary" href="https://one.exness.link/a/tjm6vjm6" target="_blank"><em class="link-icon icon-circle ti ti-files"></em> <span>Open Account</span></a></li><li><a class="link link-primary" href="/crypto/ido.html"><em class="link-icon icon-circle ti ti-file"></em> <span>Buy Smart Token</span></a></li><li><a class="link link-primary video-play" href="/trader/copytrade.html"><em class="link-icon icon-circle ti ti-control-play"></em> <span>Copy Trade</span></a></li></ul></div>'
        }) %>
</header>


<main class="nk-pages">
</main>
<footer class="nk-footer bg-theme-grad ov-h">
        <%- include("./../components/footer.html") %>
</footer>