 <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
        <%- include("./../components/header.html",{
            title : "SMART AI SIGNAL<br class=\"d-none d-xl-block\"> VIP AI Signal Forex, Crypto, Stock",
            description : "Free copy trade service, Win rate 80-90%",
            banner : "./banner_page.html",
            html : '<div class="cpn-action"><ul class="cpn-links animated" data-animate="fadeInUp" data-delay="1.45"><li><a class="link link-primary" href="https://one.exness.link/a/tjm6vjm6" target="_blank"><em class="link-icon icon-circle ti ti-files"></em> <span>Open Account</span></a></li><li><a class="link link-primary" href="/crypto/ido.html"><em class="link-icon icon-circle ti ti-file"></em> <span>Buy Smart Token</span></a></li><li><a class="link link-primary video-play" href="/trader/copytrade.html"><em class="link-icon icon-circle ti ti-control-play"></em> <span>Copy Trade</span></a></li></ul></div>'
        }) %>
</header>

<script type="text/javascript">
    
    var connection = new WebSocket('ws://45.77.37.251:9090');

    connection.onopen = function () {
      //connection.send('Ping'); // Send the message 'Ping' to the server
      console.log('WebSocket Ping ');
    };

    // Log errors
    connection.onerror = function (error) {
      console.log('WebSocket Error ' + error);
    };

    // Log messages from the server
    connection.onmessage = function (e) {
      console.log('Server: ' + e.data);
    };
</script> 
<main class="nk-pages">

    <section class="section pdt-0 ov-v" style="padding-bottom:10px;">
        <div class="container">
            <div class="nk-block nk-block-features-s3">
               
                <h4 class="d-flex justify-content-between">Runing Orders <a class="btn btn-primary" href="#">Join VIP</a></h4>
                <div class="row">
                    <% signal.forEach(function(data) { %>
                    <div class="col-xs-12 col-md-3 mb-3">
                        <div class="card">
                            <span style="position: absolute;right:-5px;top:-5px; font-size: 11px; padding: 3px;text-transform:none;line-height:12px;" class="badge badge-<% if(data.type === 'buy'){ %>success<% } else{ %>danger<% } %>"><% if(data.type === 'buy'){ %>Long<% } else{ %>Short<% } %></span>
                            <b class="<% if(data.type === 'buy'){ %>text-success<% } else{ %>text-danger<% } %>"><%= data.symbol %> - <%= data.timefream %></b>
                            <div style="">
                                <div><i class="fa fa-calendar <% if(data.type === 'buy'){ %>bg-success<% } else{ %>bg-danger<% } %> link-icon icon-circle text-white" style="width:20px; height: 20px; font-size:8px;"  aria-hidden="true"></i> <%= data.opentime %></div>
                                
                                <div><i class="fa fa-signal <% if(data.type === 'buy'){ %>bg-success<% } else{ %>bg-danger<% } %> link-icon icon-circle text-white" style="width:20px; height: 20px; font-size:8px;" aria-hidden="true"></i> <% if(data.type === 'buy'){ %>BUY<% } else{ %>SELL<% } %> : <%= data.open %></div>
                                <hr>
                                <div>SL : <%= data.sl %></div>
                                <div>TP : <%= data.tp %></div> 
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </section>


    <section class="section pdt-0 ov-v" style="padding-bottom:10px;">
        <div class="container">
            <div class="nk-block nk-block-features-s3">
                <h4 class="d-flex justify-content-between">Finish Orders <a class="btn btn-primary" href="#">Join VIP</a></h4>
                <div class="table-responsive card" style="padding:3px;">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>

                          <th scope="col" colspan="2">Symbol</th>
                          
                          <th scope="col">Open</th>
                          <th scope="col">SL</th>
                          <th scope="col">Close</th>
                          <th scope="col">Profit(Pips)</th>
                          <th scope="col" colspan="2">Time</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% signalFinish.forEach(function(data) { %>
                        <tr>
                          <td><%= data.close_type %></td>
                          <td><b><%= data.symbol %></b> (<span style="font-weight: bold; font-size:8px;color:red;"><%= data.is_access %></span>)</td>
                          
                          <td><%= data.open %></td>
                          <td><%= data.sl %></td>
                          <td><%= data.close_at %></td>
                          <td><%= data.profit_pip %></td>
                          <td><%= data.opentime %></td>
                          <td><%= data.closetime %></td>
                        </tr>
                        <% }); %>
                        
                      </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </section>

    <section class="section pdt-0 ov-v" style="padding-bottom:10px;margin-top: 15px;">
        <div class="container">
            <div class="nk-block nk-block-features-s3">
                
                <div>
                    <a class="badge badge-primary badge-sm" href="/trader/signals.html">All</a>
                    <% symbol.forEach(function(data) { %>
                    <a class="badge badge-secondary badge-sm" href="/trader/signals.html?s=<%= data.symbol%>"><%= data.symbol%></a>
                    <% }); %>
                </div>
            </div>
        </div>
    </section>

            
</main>
<footer class="nk-footer bg-theme-grad ov-h">
        <%- include("./../components/footer.html") %>
</footer>