<!-- Banner @s -->
            <div class="header-banner bg-theme-grad-alt">
                <div class="nk-banner">
                    <div class="banner banner-fs banner-single banner-with-token-box-s1">
                        <div class="ui-shape ui-shape-header ui-shape-light"></div>
                        <div class="banner-wrap">
                            <div class="container">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-sm-10 col-md-10 col-xl-9">
                                        <div class="banner-caption tc-light text-center">
                                            <div class="cpn-title animated" data-animate="fadeInUp" data-delay="1.25">
                                                <h1 class="title title-xl-s2 title-semibold"><%-title%></h1>
                                            </div>
                                            <div class="cpn-text cpn-text-center">
                                                <p class="lead animated" data-animate="fadeInUp" data-delay="1.35"><%-description%></p>
                                            </div>
                                            <%-html%>
                                            
                                        </div>
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div>
                            <div class="banner-social-wrap text-center animated" data-animate="fadeIn" data-delay="1.55">
                                <ul class="banner-social banner-social-vertical">
                                    <li><a href="#"><em class="fab fa-telegram"></em></a></li>
                                    <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                    <li><a href="#"><em class="fab fa-twitter"></em></a></li>
                                    <li><a href="#"><em class="fab fa-youtube"></em></a></li>
                                    <li><a href="#"><em class="fab fa-github"></em></a></li>
                                    <li><a href="#"><em class="fab fa-bitcoin"></em></a></li>
                                    <li><a href="#"><em class="fab fa-medium-m"></em></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="nk-ovm mask-b mask-contain-bottom"></div>
                </div><!-- .nk-banner -->
                
                
                <!-- Place Particle Js -->
				<div id="particles-bg" class="particles-container particles-bg"></div>
            </div>
            <div class="gap-5x bg-white"></div>
            <div class="gap-10x d-md-none"></div>
            <div class="gap-5x d-sm-none"></div>
			<!-- .header-banner @e --> 